.scroll {
  scrollbar-width: thin;
  scrollbar-color: #a1a4a7 transparent;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  background: #d9d9d9;
}

.scroll::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 4px;
}