.overlay {
  position: fixed;
  inset: 0;
  z-index: 2;
  background: rgba(31, 35, 38, 0.2);
  backdrop-filter: blur(3px);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;

  width: 100%;
  max-width: 752px;
  border-radius: 8px;
  background: var(--background);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 24px 16px;

  h2 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 6px;
  }

  button {
    padding: 2px 4px;
    background: transparent;
  }
}