.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;

  label {
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--primary);
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    flex: 1 1 280px;

    font-weight: 400;

    width: 100%;
    padding: 12px 0;
    border-radius: 6px;
    color: var(--text-dark);
    background: var(--background);

    border: 1px solid var(--border);

    &[aria-selected="true"] {
      color: var(--text-white);
    }
  }
}