.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4px;

  width: 100%;
}

.label {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--primary);
}

.trigger {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  color: var(--primary);
  font-weight: 400;

  padding: 0 12px;
  height: 49px;
  border-radius: 6px;
  background: rgba(22, 23, 27, 0.3);
  border: 1px solid rgb(245, 245, 245, 0.1);
  box-shadow: 0 2px 10px hsl(206 22% 7% / 20%);

  &[data-placeholder] {
    color: #999;
  }
}

.content {
  overflow: hidden;
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);

  .viewport {
    padding: 6px;
  }

  .scroll__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: var(--background-secondary);
    color: var(--violet-11);
    cursor: default;
  }
}

.item {
  font-size: 13px;
  line-height: 1;
  color: var(--violet-11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;

  &[data-disabled] {
    color: pink;
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
    background-color: var(--link);
    color: var(--violet-1);
  }
  
  .item__indicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}