@import './components/button.scss';
@import './components/scroll.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background:  #16171B;
  --background-secondary:  #1F2326;

  --primary: #F5F5F5;
  --secondary: #909090;

  --link: #1C60CA;
  --success: #0F8E53;
  --cancel : #A62C34;

  --error: #e2414c;
}

body {
  background: var(--background);
}

body, button, textarea, input {
  color: var(--primary);
  font: 400 1rem "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong, b, button {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}

fieldset {
  border: 0;
}
