.container {
  display: grid;
  grid-template-columns: 1fr 750px;
  align-items: flex-start;
  gap: 24px;
}

.resume {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 20px 28px;
  border-radius: 12px;
  border: 1px solid var(--border);

  .chart__doughnut {
    margin: -42px 0 -64px;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 2;

  p, strong {
    display: block;
  }

  p {
    color: var(--secondary);
    font-size: 18px;
  }

  strong {
    font-size: 28px;
  }
}