.list_and_doughnut {
  display: grid;
  grid-template-columns: 1fr 550px;
  align-items: flex-start;
  gap: 32px;
}

.doughnut {
  width: 100%;
  padding: 24px 24px 0;

  strong {
    font-size: 20px;
    font-weight: 500;
  }

  span {
    display: block;
    margin: -48px 0 -40px;
  }
}