.main {
  padding: 32px 40px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);

  max-height: 700px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  row-gap: 16px;

  fieldset {
    width: 100%;
  }

  .row {
    display: flex;
    column-gap: 16px;
  }
}

.footer {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  column-gap: 16px;

  padding: 24px 20px;

  button {
    width: auto;
    padding: 8px 16px;

    &:first-child {
      background: var(--red);
    }
  }
}