.header {
  width: 100%;
  max-width: 1440px;

  display: flex;
  align-items: center;
  column-gap: 80px;

  margin-top: 32px;

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    width: 100%;
    height: 350px;
    z-index: -1;
    background: var(--background-terciary);
  }

  strong {
    display: flex;
    align-items: center;
    column-gap: 6px;

    font-size: 20px;
    letter-spacing: -0.5px;
    color: var(--text-white);
  }

  button {
    display: flex;
    align-items: center;
    column-gap: 8px;

    margin-left: auto;
    color: var(--red);
    border: 1px solid var(--red);
    padding: 6px 32px;
    border-radius: 6px;

    opacity: 0.8;
    transition: all 0.4s;

    &:hover {
      opacity: 1;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 24px;

  a {
    padding: 6px 32px;
    border-radius: 6px;
    letter-spacing: 0.5px;
    color: var(--text-white-secondary);

    &.active {
      color: var(--text-white);
      background: #333B4A;
    }
  }
}