.container {
  font-weight: 300;
  margin-bottom: -24px;

  td button:hover {
    background-color: var(--success)!important;
  }

  > div > div > div > div > div {
    text-transform: capitalize;
  }
}