.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;

  opacity: 0.8;
  margin-top: 32px;

  span {
    max-width: 460px;

    font-size: 18px;
    text-align: center;
    font-weight: 500;
  }
}

.list {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 0;

  .item:not(:first-child) {
    border-top: 1px solid var(--border);
  }
}

.item {
  padding: 8px 16px;

  display: flex;
  align-items: center;
  column-gap: 16px;

  font-size: 1rem;
  text-align: left;
  line-height: 1.875rem;
  color: var(--secondary);

  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    background: rgba(#F4F4F7, 0.75);
  }

  .item__type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }

  .item__icon {
    width: 32px;
    height: 32px;
    background: rgba(#000000, 0.05);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 18px;
      height: auto;
      fill: var(--text-dark);
    }
  }

  .item__info {
    flex: 1;

    strong, time {
      display: block;
      line-height: 1.5;
    }

    strong {
      font-size: 16px;
      font-weight: 500;
    }
    
    time {
      font-size: 12px;
      font-weight: 300;
      color: var(--text-dark-secondary);
    }
  }

  .item__value {
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: var(--primary);

    width: 90px;
    margin-left: -8px;
  }
}

.item__tags {
  display: flex;
  column-gap: 8px;
}

.item__tag {
  opacity: 0.8;
  padding: 6px 10px;
  border-radius: 6px;
  background: var(--border);

  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.3px;
  color: var(--text-dark);
  font-weight: 500;
}

.item__actions {
  display: flex;
  gap: 8px;

  button {
    opacity: 0.8;

    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid var(--border);

    display: flex;

    svg {
      margin: auto;
    }
  }

  button[data-type="edit"]:hover {
    opacity: 1;
    border-color: var(--link);

    svg {
      fill: var(--link);
    }
  }

  button[data-type="remove"]:hover {
    border-color: var(--red);

    svg {
      fill: var(--red);
    }
  }
}