.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.search {
  display: flex;
  align-items: center;
  column-gap: 8px;

  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid var(--border);

  svg {
    fill: var(--text-dark-secondary);
  }
  
  input {
    flex: 1;
    border: 0;
    outline: none;
    background: transparent;

    font-size: 16px;
    color: var(--text-dark);

    &::placeholder {
      color: var(--text-dark-secondary);
    }
  }

  button {
    width: 25px;
    height: 25px;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    transition: all 0.2s;

    &[data-state="hidden"] {
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      background: rgba(#000000, 0.05);
    }
  }
}

.list {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 0;

  .item:not(:first-child) {
    border-top: 1px solid var(--border);
  }
}

.item {
  padding: 8px 16px;

  display: flex;
  align-items: center;
  column-gap: 16px;

  font-size: 1rem;
  text-align: left;
  line-height: 1.875rem;
  color: var(--secondary);

  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    background: rgba(#F4F4F7, 0.75);
  }

  .item__icon {
    width: 32px;
    height: 32px;
    background: rgba(#000000, 0.05);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 18px;
      height: auto;
      fill: var(--text-dark);
    }
  }

  .item__info {
    strong, time {
      display: block;
      line-height: 1.5;
    }

    strong {
      font-size: 16px;
      font-weight: 500;
    }
    
    time {
      font-size: 12px;
      font-weight: 300;
      color: var(--text-dark-secondary);
    }
  }

  .item__value {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);

    margin-left: auto;
  }
}

.item__actions {
  display: flex;
  gap: 8px;

  button {
    opacity: 0.8;

    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid var(--border);

    display: flex;

    svg {
      margin: auto;
    }
  }

  button[data-type="edit"]:hover {
    opacity: 1;
    border-color: var(--link);

    svg {
      fill: var(--link);
    }
  }

  button[data-type="remove"]:hover {
    border-color: var(--red);

    svg {
      fill: var(--red);
    }
  }
}